body {
    background-color: #f5eef5;
}
  
.container {
    width: 80%;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
  
.half {
    width: 45%;
    text-align: justify;
}
  