.nav-item .active {
    border-bottom: 5px solid magenta;
}
.nav-link {
    color: black;
    font-size: 2.5vh;
}

.nav-link:hover {
    color: magenta;
}

header {
    background-color: white;
}

header img {
    height: 9vh;
    width: 9vh;
}

header button {
    min-height: 7vh;
    min-width: 7vh;
}

header button .navbar-toggler-icon {
    min-height: 5vh;
    min-width: 5vh;
}