body {
    background-color: rgb(3, 3, 3);
}


.introText {
    color: rgb(240, 240, 240);
    text-align: center;

}

.introText h1 {
    font-size: 7.5vw;
    margin-bottom: 1.0vw;
    background-color: rgb(70, 69, 69);
}

.introText h2 {
    font-size: 4.5vw;
}

.cards h3 {
    color: rgb(240, 240, 240);
    font-size: 3vw;
    text-decoration: underline;
    margin-bottom: 2.5vw;
}

.card {
    background-color: rgb(213, 204, 204);
    padding-left: 15vw;
}

.card text{
    float: left;
}

img {
    position: relative;
    float: right;
}